/* src/App.css */
.App {
  display: flex;
}

.main-content {
  margin-left: 300px; /* Adjust based on sidebar width */
  padding: 20px;
  flex: 1;
  margin-top: 60px; /* To ensure content does not overlap with navbar */
}
